.productPage {
    min-height: 83vh;
    display: flex;
    padding: 6vh 8vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.backLink {
    width: 100vw;
    margin-bottom: 5vh;
}

.backLink a {
    text-decoration: none;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    color: black;
}


.productPage img {
    width: 45%;
}

.infoSide {
    width: 45%;
}

.infoSide h2 {
    font-size: 4vw;
}

.price {
    min-width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoSide p {
    font-size: 2vw;
    margin: 3vh 0;
}

.infoSide .buyBtn {
    background-color: transparent;
    height: 7vh;
    width: 12vw;
    border: 0.2vw solid black;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1.3vw;
    transition: 0.3s;
}

.buyBtn:hover {
    background-color: black;
    color: white;
}
