header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    position: sticky;
    top: 0;
    background-color: #EFF0F0;
}

h1 {
    color: black;
    cursor: pointer;
}

header button {
    width: 15vw;
    height: 8vh;
    border-radius: 1vw;
    border: none;
    background-color: white;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

header button:hover {
    border: 0.5vh solid white;
    background-color: gray;
    color: white;
}
